$color-primary: #ffe22773;
$color-secondary: #eb596f91;
$color-secondary-dark: #942f3e;
$color-white: #fff;
$btn-learn-more: #7a1f2c;
$color-secondary-menu: #eb596f;
$color-secondary-dark-menu: #942f3e;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: rgb(110, 109, 109);
$color-grey-dark-2: #999;
$color-section-left: rgb(80, 79, 79);
$color-grey-line: #eee;
$color-grey-super-dark: #333;

$color-card1-light: rgb(122, 194, 122);
$color-card1-dark: rgb(5, 90, 5);
$color-card2-light: rgb(255, 237, 73);
$color-card2-dark: rgb(182, 104, 3);
$color-card3-light: rgb(57, 184, 226);
$color-card3-dark: rgb(13, 13, 204);

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
